html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: HarryPotterFont;
  src: url("./assets/HarryPotter-ov4z.ttf");
  font-display: swap;
}

#main-heading {
  font-family: HarryPotterFont;
  font-weight: 400;
  font-style: normal;
  color: #856538;
  font-size: 1.5rem;
}
