html {
  /* background-color: #150e4f; */
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: HarryPotterFont;
  src: url("./assets/HarryPotter-ov4z.ttf");
  font-display: swap;
}

#nav-brand-logo {
  font-family: HarryPotterFont;
  color: #fec012;
}
